@page "/bittag"
@using BitTagModels
@using BitTagDAL
<h3>BitTagDetails</h3>

@code {
    BitTagDetailsModel bitTag = new BitTagDetailsModel();
    string userid = "3fa85f64-5717-4562-b3fc-2c963f66afad";
}
