@page "/"
<PageTitle>BitTag</PageTitle>

<div style="margin-top: 45px;">
	<section class="relative bg-[url(https://iili.io/JadvEqg.md.png)] bg-cover bg-center bg-no-repeat">
		<div class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 sm:to-white/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l"></div>

		<div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
			<div class="max-w-xl text-left ltr:sm:text-left rtl:sm:text-right">
				<h1 class="text-3xl font-extrabold sm:text-5xl text-gray-900">
					Say goodbye to your

					<strong class="block font-extrabold text-blue-900 mt-3"> manual vehicle tagging hustle  </strong>
				</h1>

				<p class="mt-4 max-w-lg sm:text-xl/relaxed">
					Revolutionizing access management with QR code technology. Seamlessly secure, effortlessly efficient.
				</p>

				<div class="mt-8 flex flex-wrap gap-4 text-center">
					<a href="register"
					   class="block w-full rounded bg-blue-700 duration-75 px-12 py-3 text-sm font-medium text-white shadow hover:bg-blue-400 focus:outline-none focus:ring active:bg-rose-500 sm:w-auto">
						Get Started
					</a>

					<a href="#"
					   class="block w-full rounded bg-white px-12 py-3 text-sm font-medium text-blue-900 shadow focus:outline-none focus:ring active:text-blue-500 sm:w-auto">
						Learn More
					</a>
				</div>
			</div>
		</div>
	</section>
</div>

<section>
	<div class="mx-auto max-w-screen-2xl px-4 py-16 sm:px-6 lg:px-8">
		<div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
			<div class="relative z-10 lg:py-16">
				<div class="relative h-64 sm:h-80 lg:h-full">
					<img alt=""
						 src="https://images.pexels.com/photos/3370332/pexels-photo-3370332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
						 class="absolute inset-0 h-full w-full object-cover" />
				</div>
			</div>

			<div class="relative flex items-center bg-gray-100">
				<span class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-gray-100"></span>

				<div class="p-8 sm:p-16 lg:p-24">
					<h2 class="text-2xl font-bold sm:text-3xl">
						What is BitTag?
					</h2>

					<p class="mt-4 text-gray-600">
						At BitTag, we're dedicated to reshaping access management with cutting-edge technology. 
						Our innovative automatic vehicle tagging system, powered by QR code technology, streamlines entry processes 
						while enhancing security measures. With a focus on confidentiality, efficiency, and user satisfaction, 
						BitTag sets new standards in access management solutions. Trust BitTag for seamless integration, robust security, 
						and unparalleled convenience in access management.
					</p>

					<a href="#"
					   class="mt-8 inline-block rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-indigo-600 focus:outline-none focus:ring active:text-indigo-500">
						Get in Touch
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
  Heads up! 👋

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section class="bg-blue-100">
    <div class="max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
        <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:items-center lg:gap-x-16">
            <div class="mx-auto max-w-lg text-left lg:mx-0 ltr:lg:text-left rtl:lg:text-right">
                <h2 class="text-3xl font-bold sm:text-4xl">Features</h2>

                <p class="mt-4 text-gray-600">
                    The BitTag project boasts a myriad of features designed to revolutionize access management. 
                    At its core, BitTag prioritizes efficiency, streamlining entry processes and enhancing security 
                    measures with its automatic vehicle tagging system. Robust security measures ensure the safeguarding 
                    of sensitive data, while scalability allows for seamless adaptation to organizational growth and technological advancements. 
                    The user-centric design ensures a seamless user experience, with intuitive interfaces and customizable security options. 
                    BitTag seamlessly integrates with existing infrastructure, including CCTV systems and backend databases, further enhancing 
                    its utility and compatibility.
                </p>

                <a href="register"
                   class="mt-8 inline-block rounded bg-indigo-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring focus:ring-yellow-400">
                    Get Started Today
                </a>
            </div>

            <div class="grid grid-cols-2 gap-4 sm:grid-cols-3">
                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg fill="#000000" height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 512 512" xml:space="preserve">
<g>
                        <g>
                        <path d="M256,0C162.59,0,86.867,75.724,86.867,169.133c0,34.924,10.587,67.376,28.725,94.321
			c33.928,50.4,52.205,109.86,52.205,170.614v0.037c0,15.408,12.491,27.899,27.899,27.899h10.308
			C206.004,489.616,228.388,512,256,512c27.612,0,49.996-22.384,49.996-49.996h10.308c15.408,0,27.9-12.491,27.9-27.899v-0.037
			c0-61.042,18.116-119.977,52.205-170.614c18.139-26.945,28.725-59.396,28.725-94.321C425.133,75.724,349.409,0,256,0z
			 M316.872,203.271l-83.631,114.35c-1.903,2.602-5.362,3.527-8.309,2.222c-2.948-1.304-4.589-4.487-3.943-7.644l17.387-85.006
			h-42.888c-4.141,0-7.93-2.327-9.804-6.019c-1.874-3.692-1.515-8.125,0.93-11.467l83.631-114.35
			c1.903-2.602,5.362-3.527,8.309-2.222c2.948,1.304,4.589,4.486,3.943,7.644l-17.387,85.006h42.888c4.141,0,7.93,2.327,9.804,6.019
			C319.676,195.496,319.318,199.929,316.872,203.271z" />
    </g>
</g>
</svg>
                    </span>

                    <h2 class="mt-2 font-bold">Efficiency</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Streamlines entry processes and enhances security measures.
                    </p>
                </div>

                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="black" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18.3281 5.67L6.58813 17.41C6.14813 17.85 5.40813 17.79 5.04813 17.27C3.80813 15.46 3.07812 13.32 3.07812 11.12V6.73C3.07812 5.91 3.69813 4.98 4.45813 4.67L10.0281 2.39C11.2881 1.87 12.6881 1.87 13.9481 2.39L17.9981 4.04C18.6581 4.31 18.8281 5.17 18.3281 5.67Z" fill="#292D32" />
                            <path d="M19.27 7.04159C19.92 6.49159 20.91 6.96159 20.91 7.81159V11.1216C20.91 16.0116 17.36 20.5916 12.51 21.9316C12.18 22.0216 11.82 22.0216 11.48 21.9316C10.06 21.5316 8.74001 20.8616 7.61001 19.9816C7.13001 19.6116 7.08001 18.9116 7.50001 18.4816C9.68001 16.2516 16.06 9.75159 19.27 7.04159Z" fill="#292D32" />
                        </svg>
                    </span>

                    <h2 class="mt-2 font-bold">Security</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Implements robust measures to safeguard sensitive data and prevent unauthorized access.
                    </p>
                </div>

                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg fill="#000000" width="40px" height="40px" viewBox="0 -0.08 20 20" 
                        data-name="Capa 1" id="Capa_1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18,11.49a3.72,3.72,0,0,0-3-3.12,4.18,4.18,0,0,0-.88-2,4,4,0,0,0-3.62-1.44A4.48,4.48,0,0,0,8,6.27a3.41,3.41,0,0,0-3.84,2.4A3,3,0,0,0,2,11.62,3,3,0,0,0,5,15h9.82a3.65,3.65,0,0,0,2.41-1.18A2.91,2.91,0,0,0,18,11.49Zm-1.24,1.86a3,3,0,0,1-1.89,1H5c-.1,0-2.27,0-2.27-2.68A2.48,2.48,0,0,1,5,9.13l.17,0a.36.36,0,0,0,.22-.44A.35.35,0,0,0,5,8.42H5A2.57,2.57,0,0,1,6.06,7.26,3.08,3.08,0,0,1,8.73,7.2.34.34,0,0,0,9.18,7,.35.35,0,0,0,9,6.54l-.21-.07a3.71,3.71,0,0,1,1.79-.89,3.24,3.24,0,0,1,3,1.19,4,4,0,0,1,.82,2.64.35.35,0,0,0,.35.35A.35.35,0,0,0,15,9.41c0-.11,0-.2,0-.31a3,3,0,0,1,2.27,2.48A2.21,2.21,0,0,1,16.71,13.35Z" /><path d="M12.13,8a.14.14,0,0,0,0-.09.35.35,0,0,0-.41-.28,15.09,15.09,0,0,1-1.52.25.35.35,0,0,0,0,.69h0l.72-.1L10,9.76a.34.34,0,0,0,.27.57.36.36,0,0,0,.27-.12l1-1.27.06.51a.35.35,0,1,0,.69-.08c-.08-.74-.16-1.32-.16-1.32Z" /><path d="M9.59,12.18l-.7.17.89-1.26a.34.34,0,0,0-.08-.49.35.35,0,0,0-.49.08L8.31,12c0-.15-.07-.32-.11-.5a.34.34,0,0,0-.41-.26.35.35,0,0,0-.27.41c.16.71.24,1.26.24,1.28a.33.33,0,0,0,0,.14.36.36,0,0,0,.34.25h.1S9,13,9.74,12.86a.35.35,0,0,0-.15-.68Z" /></svg>
                    </span>

                    <h2 class="mt-2 font-bold">Scalability</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Designed to accommodate future growth and technological advancements seamlessly.
                    </p>
                </div>

                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg width="40px" height="40px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4 21C4 17.4735 6.60771 14.5561 10 14.0709M16.4976 16.2119C15.7978 15.4328 14.6309 15.2232 13.7541 15.9367C12.8774 16.6501 12.7539 17.843 13.4425 18.6868C13.8312 19.1632 14.7548 19.9983 15.4854 20.6353C15.8319 20.9374 16.0051 21.0885 16.2147 21.1503C16.3934 21.203 16.6018 21.203 16.7805 21.1503C16.9901 21.0885 17.1633 20.9374 17.5098 20.6353C18.2404 19.9983 19.164 19.1632 19.5527 18.6868C20.2413 17.843 20.1329 16.6426 19.2411 15.9367C18.3492 15.2307 17.1974 15.4328 16.4976 16.2119ZM15 7C15 9.20914 13.2091 11 11 11C8.79086 11 7 9.20914 7 7C7 4.79086 8.79086 3 11 3C13.2091 3 15 4.79086 15 7Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </span>

                    <h2 class="mt-2 font-bold">User-centric</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Prioritizes user experience with intuitive interfaces and customizable security options.
                    </p>
                </div>

                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg fill="#000000" width="40px" height="40px" viewBox="0 0 52 52" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg"><path d="M44.5,21a5.5,5.5,0,1,1-4.9,8h-.91c-5.39.06-7.29,1.7-10.31,7.34l-.17.33-.2.38c-1.8,3.37-2.82,4.9-4.66,6.52C20.76,45.84,17.42,47,13,47h-.6a5.5,5.5,0,1,1,0-5h.91c5.49-.06,7.36-1.76,10.48-7.67h0L24,34a27.18,27.18,0,0,1,3.11-5H12.4a5.5,5.5,0,1,1,0-5H39.6a5.53,5.53,0,0,1,4.68-3Zm0-19a5.5,5.5,0,1,1-4.9,8H12.4a5.5,5.5,0,1,1,0-5H39.6A5.5,5.5,0,0,1,44.5,2Z" /></svg>
                    </span>

                    <h2 class="mt-2 font-bold">Integration</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Seamlessly integrates with existing infrastructure, including CCTV systems and backend databases.
                    </p>
                </div>

                <div class="block rounded-xl border border-gray-100 p-4 shadow-sm hover:border-gray-200 hover:ring-1 hover:ring-gray-200 focus:outline-none focus:ring"
                   >
                    <span class="inline-block rounded-lg bg-gray-50 p-3">
                        <svg fill="#000000" height="40px" width="40px" version="1.1" id="XMLID_138_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 24 24" xml:space="preserve">
<g id="compliance">
                        <g>
                        <path d="M22,24H2V2h5V0h10v2h5V24z M4,22h16V4h-3v3H7V4H4V22z M9,5h6V2H9V5z M11,18.4l-3.7-3.7l1.4-1.4l2.3,2.3l5.3-5.3l1.4,1.4
			L11,18.4z" />
    </g>
</g>
</svg>
                    </span>

                    <h2 class="mt-2 font-bold">Compliance</h2>

                    <p class="hidden sm:mt-1 sm:block sm:text-sm sm:text-gray-600">
                        Ensures adherence to data protection regulations and industry standards.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
  Heads up! 👋

  Plugins:
    - @tailwindcss/forms
-->

<section class="bg-gray-50">
    <h1 align="center" class="pt-20 text-4xl text-blue-800 font-bold">Need BitTag for your Organization? Reach out!</h1>
    <div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 gap-x-16 gap-y-8 lg:grid-cols-5">
            <div class="lg:col-span-2 lg:py-12">
                <p class="max-w-xl text-lg">
                    Whether you're interested in implementing BitTag for your organization or require assistance with retrieving BitTags, 
                    we're committed to offering transparent pricing and efficient solutions tailored to your needs. 
                    Contact us today to request a price quote and explore how BitTag can revolutionize your access management processes.
                </p>
            </div>

            <div class="rounded-lg bg-white p-8 shadow-lg lg:col-span-3 lg:p-12">
                <form action="#" class="space-y-4">
                    <div>
                        <label class="sr-only" for="name">Organization Name</label>
                        <input class="w-full rounded-lg border-gray-200 p-3 text-sm border"
                               placeholder="Name"
                               type="text"
                               id="name" required/>
                    </div>

                    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
                        <div>
                            <label class="sr-only" for="email">Email</label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm border"
                                   placeholder="Email address"
                                   type="email"
                                   id="email" required/>
                        </div>

                        <div>
                            <label class="sr-only" for="phone">Phone</label>
                            <input class="w-full rounded-lg border-gray-200 p-3 text-sm border"
                                   placeholder="Phone Number"
                                   type="tel"
                                   id="phone" />
                        </div>
                    </div>

                    <div class="grid grid-cols-1 gap-4 text-center sm:grid-cols-3">
                        <div>
                            <label for="Option1"
                                   class="block w-full cursor-pointer rounded-lg border border-blue-200 p-3 text-blue-600 hover:border-black has-[:checked]:border-blue-900 has-[:checked]:bg-blue-900 has-[:checked]:text-blue-50"
                                   tabindex="0">
                                <input class="sr-only" id="Option1" type="radio" tabindex="-1" name="option" />

                                <span class="text-sm"> Order BitTags </span>
                            </label>
                        </div>

                        <div>
                            <label for="Option2"
                                   class="block w-full cursor-pointer rounded-lg border border-blue-200 p-3 text-blue-600 hover:border-black has-[:checked]:border-blue-900 has-[:checked]:bg-blue-900 has-[:checked]:text-blue-50"
                                   tabindex="0">
                                <input class="sr-only" id="Option2" type="radio" tabindex="-1" name="option" />

                                <span class="text-sm"> Assistance </span>
                            </label>
                        </div>

                        <div>
                            <label for="Option3"
                                   class="block w-full cursor-pointer rounded-lg border border-blue-200 p-3 text-blue-600 hover:border-black has-[:checked]:border-blue-900 has-[:checked]:bg-blue-900 has-[:checked]:text-blue-50"
                                   tabindex="0">
                                <input class="sr-only" id="Option3" type="radio" tabindex="-1" name="option" />

                                <span class="text-sm"> Others </span>
                            </label>
                        </div>
                    </div>

                    <div>
                        <label class="sr-only" for="message">Message</label>

                        <textarea class="w-full rounded-lg border-gray-200 p-3 text-sm border"
                                  placeholder="Message"
                                  rows="8"
                                  id="message"></textarea>
                    </div>

                    <div class="mt-4">
                        <button type="submit"
                                class="inline-block w-full rounded-lg bg-blue-900 px-5 py-3 font-medium text-white sm:w-auto">
                            Send 
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<footer class="bg-blue-100">
    <div class="mx-auto max-w-5xl px-4 py-16 sm:px-6 lg:px-8">
        <div class="flex justify-center text-teal-600">
            <img src="BitTag-small-logo.png" width="200"/>
        </div>

        <p class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-950">
            Automatic Vehicle Tagging System using QR Technology
        </p>

        <div class="mt-16 border-t pt-8">
            <p class="text-center text-xs/relaxed text-lg text-gray-700">
                © Air University Islamabad. All rights reserved.

                <br />
                <b>FINAL YEAR PROJECT</b><br />
                <b>Team Members:</b> Sameer Ahmed Siddiqui, Ayesha Dastagir & Zuhair Saleem<br />
                <b>Supervisor:</b> Mr. Asim Ali Fayyaz
            </p>
        </div>
    </div>
</footer>