@page "/winfo"

@using BitTagModels;
@using BitTagUser.CutomerServices
@*@inject IOrgs org*@
@inject ICustomerWorkInfo custWorkinfo
<h3>WorkInfo</h3>
<EditForm Model="customerWorkInfo" OnSubmit="SaveCustWorkInfo">
    @*<label>Organization</label>
    @*<input type="text" @bind-value="vehicle.vehicleMake" /><br />
    <select onchange="SeletedOrgID">
        @foreach (var item in organizations)
        {
            <option value="@item.orgID">@item.orgName</option>
        }
    </select>*@
    <label>Work Type</label>
    <input type="text" @bind-value="customerWorkInfo.WorkType" />
    <label>Designtion</label>
    <input type="text" @bind-value="customerWorkInfo.Desig" />
    <label>Work time</label>
    <input type="text" @bind-value="customerWorkInfo.worktime" />
    <button type="submit">Save</button>
</EditForm>
@code {
    private CustomerWorkInfoModel customerWorkInfo{ get; set; } = new CustomerWorkInfoModel();
    List<CustomerWorkInfoModel> workinfos = new List<CustomerWorkInfoModel>();

    List<OrganizationModel> organizations = new List<OrganizationModel>();
    Guid orgId { get; set; }

    string userid = "3fa85f64-5717-4562-b3fc-2c963f66afad";
    private async void SaveCustWorkInfo()
    {
        customerWorkInfo.userID_FK = Guid.Parse(userid);
        customerWorkInfo.org_FK = orgId;
        await custWorkinfo.SaveCustomerWorkInfo(customerWorkInfo);
    }
    private async Task LoadData()
    {
        //organizations = await org.Getorgs();
    }
    private void SeletedOrgID(ChangeEventArgs e)
    {
        orgId = Guid.Parse(e.Value.ToString());
    }
}