@inherits LayoutComponentBase

<PageTitle>BitTagUser</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main style="background-color:lightblue;">

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
