@inherits LayoutComponentBase
@using BitTagUser.Authentication
@using BitTagUser.Pages
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<PageTitle>BitTagUser</PageTitle>


@* <div>
    <div>
        <NavMenu />
    </div>
    <div>
        <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <a @onclick="Logout" href="javascript:void(0)">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/logined">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
    <div>
        @Body
    </div>
</div> *@

@if (preloader)
{



    <div class="flex items-center justify-center space-x-2 mt-20">
        <div class="w-4 h-4 rounded-full animate-pulse dark:bg-sky-400"></div>
        <div class="w-4 h-4 rounded-full animate-pulse dark:bg-sky-400"></div>
        <div class="w-4 h-4 rounded-full animate-pulse dark:bg-sky-400"></div>
    </div>

}
else
{
    <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <DashboardNav />
                @Body
            </Authorized>
            <NotAuthorized>
                <NavMenu />
                @Body
            </NotAuthorized>
        </AuthorizeView>
    </CascadingAuthenticationState>
}

@code {
    private bool preloader = true;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(7000); // Delay for 7 seconds
        preloader = false; // Set preloader to false after delay
    }
}
