@inherits LayoutComponentBase
@using BitTagUser.Authentication
@using BitTagUser.Pages
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
<PageTitle>BitTagUser</PageTitle>


@* <div>
    <div>
        <NavMenu />
    </div>
    <div>
        <CascadingAuthenticationState>
        <AuthorizeView>
            <Authorized>
                <a @onclick="Logout" href="javascript:void(0)">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/logined">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        </CascadingAuthenticationState>
    </div>
    <div>
        @Body
    </div>
</div> *@


<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <DashboardNav/>
            @Body
        </Authorized>
        <NotAuthorized>
            <NavMenu/>
            <Index/>
            @Body
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>


@code {

}