

<div class="bg-primary">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href=""><img src="BitTag-small-logo.png" width="120px" style="margin-left: 40px;"/></a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">

            <div class="nav-item px-3">
                <NavLink class="nav-link text-black fw-bolder" href="customer">
                    <span class="oi oi-person" aria-hidden="true"></span> Basic Information
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-black fw-bold" href="vehicle">
                    <span class="oi oi-book" aria-hidden="true"></span> Vehicle Information
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link text-black fw-bolder" href="custWorkInfo">
                    <span class="oi oi-briefcase" aria-hidden="true"></span> Work Profile
                </NavLink>
            </div>
            @* <div class="nav-item px-3">
                <NavLink class="nav-link text-black fw-bolder" href="bittaguser">
                    <span class="oi oi-plus" aria-hidden="true"></span> BitTag
                </NavLink>
            </div> *@
        </nav>
    </div>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
