@page "/"

<PageTitle>Home</PageTitle>
<style>
    .hero{
        margin:0;
        padding:0;
    }
    .main-pic{
        margin:0;
        padding:0;
        background-size:cover;
        width:102%;
        height:200%;
    }
</style>
<div class="hero">
    <img src="/div-page2.jpg" class="main-pic"/>
</div>