@inherits LayoutComponentBase

<PageTitle>BitTagWebAPP</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>
    <div class="sm:ml-64" style="background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://iili.io/JadvEqg.md.png); background-size:cover; width: 81%; height:100vh;">
        @Body
    </div>
</div>
