@inherits LayoutComponentBase

<PageTitle>BitTagWebAPP</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="margin:0; padding:0px;">
            @Body
        </article>
    </main>
</div>
