@* @inherits LayoutComponentBase

    <PageTitle>BitTagWebAPP</PageTitle>




*@

@inherits LayoutComponentBase

@inject NavigationManager NavigationManager


<div>
    @if (!isLoggedIn)
    {
        <div style="background-color: lightblue; height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div class="flex flex-col max-w-md p-6 rounded-md sm:p-10 main-color">
                <div class="mb-8 text-center">
                    <h1 class="my-3 text-4xl font-bold">Sign in</h1>
                    <p class="text-sm dark:text-gray-400">Login to your Admin Panel</p>
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <p class="text-red-500">@errorMessage</p>
                    }
                </div>
                <form novalidate="" action="" class="space-y-12">
                    <div class="space-y-4">
                        <div>
                            <label for="user" class="block mb-2 text-sm">Username</label>
                            <input type="text" name="email" id="user" @bind="usernameInput" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
                        </div>
                        <div>
                            <div class="flex justify-between mb-2">
                                <label for="password" class="text-sm">Password</label>

                            </div>
                            <input type="password" name="password" id="password" @bind="passwordInput" placeholder="*****" class="w-full px-3 py-2 border rounded-md dark:border-gray-700 dark:bg-gray-900 dark:text-gray-100">
                        </div>
                    </div>
                    <div class="space-y-2">
                        <div>
                            <button type="button" @onclick="HandleLogin" class="w-full px-8 py-3 font-semibold rounded-md soft-color">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    }
    else
    {
        <div>
            <div>
                <NavMenu role="@role" />
            </div>
            <div class="p-4 sm:ml-64">
                <div class="rounded-xl border border-gray-700 soft-color text-gray-900 p-4" style="background-image: url('https://images.pexels.com/photos/164634/pexels-photo-164634.jpeg?cs=srgb&dl=pexels-pixabay-164634.jpg&fm=jpg') ">
                    <div style="height:100hv">
                        @Body
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@code {
    // Define static username and password
    string staticUsername = "admin";
    string staticPassword = "admin123";

    string staticOrgUname = "org";
    string staticOrgPass = "org123";

    string role;
    string usernameInput = "";
    string passwordInput = "";
    bool isLoggedIn = false;
    string errorMessage = "";

    // Method to handle login attempt
    void HandleLogin()
    {
        if (usernameInput == staticUsername && passwordInput == staticPassword)
        {
            role = "admin";
            isLoggedIn = true;
            NavigationManager.NavigateTo("/nav/admin");
        }
        if (usernameInput == staticOrgUname && passwordInput == staticOrgPass)
        {
            role = "organization";
            isLoggedIn = true;
            NavigationManager.NavigateTo("/nav/organization");
        }
        else
        {
            // Reset the form
            usernameInput = "";
            passwordInput = "";
            // Display error message
            errorMessage = "Invalid username/password";
        }
    }


}
